.logo{
  width:200px;
}

.fright{
  float:right;
}
.logo-left{
width:200px;
  float:right;
  padding-top: 12px
}
.clearfix{
  clear:both;
}
.icon{
  width:50px;

}
body{
  background-color: #442D4B;
  font-family: 'lato', sans-serif;
  color: white;
  align-content: center;
}
header{
  padding: 40px;
  height: 40px;
}

header ul li{
  display: inline-block;
  font-color: white;
  padding:10px 15px
}

header ul li a{
text-decoration: none;
  color: #FFCB59;
  font-size: 13px;
}


.form{
  width: 500px;
  margin: 0 auto;

}
.form h2{
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}
.form label,.form input{
display: block;

}


.form input,.form textarea,.form select{
width: 100%;
  background: #442D4B;
  border: 1px solid white;
  margin: 7px 0 15px;
  color: white;
  padding:0 15px;
  font-size: 19px;
  font-family: inherit;
}
.ini{
  display:inline-block;
  width: 50%
}

.form input{
  height: 30px;
}
button{
  margin-left:auto;
  margin-right:auto;
  display:block;
  margin-bottom: 10px
}
.divide{
  display: inline-block;
  width: 51%;
  padding-left: 15px;
  white-space: normal;
}
footer{
  background: black;
  padding: 10px
}


.language_div{
  padding-left: 0px;

}
form{
  white-space: nowrap;
}

.film{
  width: 150px;
  height: 200px;
  margin-top:10px;
  margin-left: 10px;
  margin-bottom: 5px;

}
.star{
  width: 10px;
  height: 10px;
  margin-left: 10px;

  display:inline-block;

}

.stars{
  width: 10px;
  height: 10px;
  display:inline-block;


}

.movie-lan{

  margin: 10px;
}
.movie-nam{
  margin: 10px;
}
.movie-yr{
  font-size: 12px;
  padding-top: 10px;
  margin: 10px;
  text-decoration: inherit;
  font-weight: bold;
}
.new{
display: grid;
}



/*HOME PAGE*/
section{
    padding: 0 40px;
    padding-bottom: 84px;
}
.category{
    margin-bottom: 40px;
}
.categoryName {
    font-size: 1.8rem;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 20px;
}

.movie {
    margin-bottom: 10px;
    width: 20%;
}

.movie .poster {
    width: 180px;
    height: 230px;
    overflow: hidden;
    /* margin: 0 auto; */
    margin-bottom: 15px;
}

.poster img{
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}
.details {
    width: 180px;
    /* margin: 0 auto; */
}
.details .yearOfRelease {
    margin: 5px 0;
    font-size: 0.8rem;
}

.details .name{
    margin: 5px 0;
    font-weight: 100;
    font-size: 1rem;
    text-transform: uppercase;
}

.stars .star {
    width: 15px;
    height: 15px;
    margin: 0;
    display: inline-block;
    background-position: center;
    background-size: contain;
}

.star-full {
    background-image: url("../images/star-full.png");
}

.star-half {
    background-image: url("../images/star-half.png");
}

.star-empty {
    background-image: url("../images/star-empty.png");
}
